body {
    background-color: #EDEFEE;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, 'Cursive';
    margin: 3rem 5%;
}

h1{
    font-size: 3rem;
    color: white;
}

h2{
    font-size: 2rem;

}

nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

nav a{
    font-size: larger;
    text-decoration: double;
    color: white;
    font-style: italic;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, 'Cursive';
}

nav{
    background-color: #495E57;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 1.5rem;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}
header{
    text-align: center;
    margin-bottom: 2rem;
}

header > img{
    margin: 0 auto;
    display: block;
}
#main_promotion_section article{
    background-image: url('resources/photo-1547496502-affa22d38842.avif');
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
 
}

section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

#risotto_article{
    background-image: url('resources/risotto-al-nero-3092x1546.jpg');
    background-size: cover;
    background-position: center;

}

#fruit_article{
    background-image: url('resources/pngtree-a-colorful-fruit-salad-with-slices-of-watermelon-strawberries-kiwi-and-image_2702404.jpg');
    background-position: center;
}

#tuscany_article{
    background-image: url('resources/Cucina_Toscana_Ribollita_mjoizj\ \(1\).jpg');
    background-position: right;
    background-size: cover;

}

article{
    flex: 1;
    padding:0.5rem 2rem;
    color:white;
    border-radius: 10px;   
    font-weight: bold;
}

footer{
    display: flex;  
}

footer div{
    flex: 1;
}
#copyright{
    text-align: right;
}
