body {
    background-color: #EDEFEE;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, 'Cursive';
    margin: 3rem 5%;
}

h1{
    font-size: 3rem;
    color: white;
}

h2{
    font-size: 2rem;

}

nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

#main_promotion_section{
    border-radius: 10px;
    background-color: rgba(31, 59, 14, 0.527);
}

nav a{
    font-size: larger;
    text-decoration: double;
    color: white;
    font-style: italic;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, 'Cursive';
}

nav{
    background-color: rgba(31, 59, 14, 0.527);
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 20px;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}
header{
    text-align: center;
    margin-bottom: 2rem;
}

header > img{
    margin: 0 auto;
    display: block;
}

section{
    display: flex;
    flex-wrap: wrap;
}

article{
    flex: 1;
}

footer{
    display: flex;  
}

footer div{
    flex: 1;
}
